version: "3.5"

services:
  seq:
    environment:
      - ACCEPT_EULA=Y
    ports:
      - "5140:80"

  sql.data:
    environment:
      - SA_PASSWORD=Pass@word
      - ACCEPT_EULA=Y
    ports:
      - "5433:1433" # Important: In a production environment your should remove the external port

  enrolling.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
      - ConnectionStrings=Server=sql.data;Database=OpenCodeFoundation.EnrollingDb;User Id=sa;Password=Pass@word
    ports:
      - "5102:80"
      - "5581:5001"

  courseregistration.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
      - ConnectionStrings=Server=sql.data;Database=OpenCodeFoundation.CourseRegistrationDb;User Id=sa;Password=Pass@word
    ports:
      - "5103:80"
      - "5582:5001"

  webstatus:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
      - ConnectionStrings=Server=sql.data;Database=OpenCodeFoundation.WebStatusDb;User Id=sa;Password=Pass@word
      - HealthChecksUI__HealthChecks__0__Name=Enrolling HTTP Check
      - HealthChecksUI__HealthChecks__0__Uri=http://enrolling.api/hc
      - HealthChecksUI__HealthChecks__1__Name=CourseRegistration HTTP Check
      - HealthChecksUI__HealthChecks__1__Uri=http://courseregistration.api/hc
    ports:
      - "5107:80"

  eschool.graphql:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "5101:80"

  frontend.blazor:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "5200:80"

  jaeger:
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    ports:
      - 5775:5775/udp
      - 6831:6831/udp
      - 6832:6832/udp
      - 5778:5778
      - 16686:16686
      - 14268:14268
      - 14250:14250
      - 9411:9411
