version: "3.5"

services:
  seq:
    image: datalust/seq:latest

  sql.data:
    image: mcr.microsoft.com/mssql/server:2019-latest

  enrolling.api:
    image: ${REGISTRY:-eschool}/enrolling.api:${TAG:-latest}
    build:
      context: .
      dockerfile: src/Services/Enrolling/Enrolling.API/Dockerfile
    depends_on:
      - sql.data

  certificateprocessing.api:
    image: ${REGISTRY:-eschool}/certificateprocessing.api:${TAG:-latest}
    build:
      context: .
      dockerfile: src/Services/CertificateProcessing/CertificateProcessing.API/Dockerfile
    depends_on:
      - sql.data

  exammanagement.api:
    image: ${REGISTRY:-eschool}/exammanagement.api:${TAG:-latest}
    build:
      context: .
      dockerfile: src/Services/ExamManagement/ExamManagement.API/Dockerfile
    depends_on:
      - sql.data

  webstatus:
    image: ${REGISTRY:-eschool}/webstatus:${TAG:-latest}
    build:
      context: .
      dockerfile: src/Web/WebStatus/Dockerfile

  eschool.graphql:
    image: ${REGISTRY:-eschool}/eschool.graphql:${TAG:-latest}
    build:
      context: .
      dockerfile: src/ApiGateways/eSchool.GraphQL/Dockerfile

  frontend.blazor:
    image: ${REGISTRY:-eschool}/frontend.blazor:${TAG:-latest}
    build:
      context: .
      dockerfile: src/Web/Frontend.Blazor/Frontend.Blazor.Server/Dockerfile

  jaeger:
    image: jaegertracing/all-in-one
