version: "3.5"

services:
  seq:
    image: datalust/seq:latest

  sql.data:
    image: mcr.microsoft.com/mssql/server:2019-latest

  enrolling.api:
    image: ${REGISTRY:-eschool}/enrolling.api:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: src/Services/Enrolling/Enrolling.API/Dockerfile
    depends_on:
      - sql.data

  joining.api:
    image: ${REGISTRY:-eschool}/joining.api:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: src/Services/Joining/Joining.API/Dockerfile
    depends_on:
      - sql.data

  webstatus:
    image: ${REGISTRY:-eschool}/webstatus:${PLATFORM:-linux}-${TAG:-latest}
    build:
      context: .
      dockerfile: src/Web/WebStatus/Dockerfile
