name: Enrolling.API

on:
  push:
    paths:
      - "src/Services/Enrolling/**"
      - ".github/workflows/**"
  pull_request:
    paths:
      - "src/Services/Enrolling/**"
      - ".github/workflows/**"

jobs:
  build:
    runs-on: ubuntu-16.04

    steps:
      - uses: actions/checkout@v1

      - name: set image tag
        run: echo "::set-env name=TAG::$(git tag --points-at HEAD | cut -c 2-4)"

      - name: build
        run: docker-compose build enrolling.api

      - name: unit tests
        run: docker-compose -f docker-compose-test.yml -f docker-compose-test.override.yml run enrolling.api.test

      - name: functional tests
        run: docker-compose -f docker-compose-test.yml -f docker-compose-test.override.yml run enrolling.api.functional-test

      - uses: azure/docker-login@v1
        if: startsWith(github.ref, 'refs/tags') || github.ref == 'refs/heads/master'
        with:
          login-server: index.docker.io
          username: ${{ secrets.DOCKERIO_USERNAME }}
          password: ${{ secrets.DOCKERIO_PASSWORD }}

      - name: push image
        if: startsWith(github.ref, 'refs/tags') || github.ref == 'refs/heads/master'
        run: docker-compose push enrolling.api
